<h4>Facebook app</h4>
<div class="row">
  <div class="col-md-3">App name</div>
  <div class="col-md-9"><%= @facebook_app.name %></div>
</div>
<div class="row">
  <div class="col-md-3">App ID</div>
  <div class="col-md-9"><%= @facebook_app.app_id %></div>
</div>
