<%= render "facebook_app_summary" %>
<br/>
<br/>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Monitor Task</h5>
      </div>
      <div class="ibox-content">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
